:root {
  --header-height: 62px;
  --left-nav-bar-bg: #10273d;
}

/* ## COLOR */
.bg-secondary-custom {
  background: #e5e5e5;
}

/* ## HEADER */

#header {
  height: var(--header-height);
}

.header_logo_container {
  height: 50px;
  aspect-ratio: 1;
}

#header .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#header .form-control {
  padding-left: 2.375rem;
}

/* ## MAIN */

#left-navbar {
  width: 70px;
  height: calc(100vh - var(--header-height));

  background-color: var(--left-nav-bar-bg);
  background-image: url(../img/sidebar-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* MEDIA QUERY */

@media screen and (min-width: 992px) {
  #left-navbar {
    width: 150px;
  }
}
