:root {
  --header-height: 62px;
  --left-nav-bar-bg: #10273d;
  --left-nav-bar-width: 70px;
}

/* ## COLOR */
.bg-secondary-custom {
  background: #e5e5e5;
}

.bg_main_top {
  background-color: #1b72e8;
}

.btn_main_top_badge {
  background-color: #165bba;
}

/* ## HEADER */

#header {
  height: var(--header-height);
}

.header_logo_container {
  height: 50px;
  aspect-ratio: 1;
}

#header .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#header .form-control {
  padding-left: 2.375rem;
}

/* ## MAIN */

#left-navbar {
  width: var(--left-nav-bar-width);
  height: calc(100vh - var(--header-height));

  background-color: var(--left-nav-bar-bg);
  background-image: url(../img/sidebar-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#main {
  width: calc(100% - var(--left-nav-bar-width));
  height: calc(100vh - var(--header-height));
}

.table_icon {
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background-color: #f26551;
}

/* MEDIA QUERY */

@media screen and (min-width: 992px) {
  :root {
    --left-nav-bar-width: 150px;
  }
}
